.game {
    width: 1200px;
    height: 400px;
    margin: auto;
    border-bottom: 10px solid #CD853F;
    background-color: #D2C3A8;
}
.coyot {
    height: 84px;
    width: 130px;
    position: relative;
    top: 300px;
}
.cactus {
    height: 50px;
    width: 50px;
    position: relative;
    top: 250px;
    left: 800px;
    animation: cactusMove 2s infinite linear;
}

